:root{
    --blue:#313f59
    --bgcolor:#c2c6d2;
    --gray:#cic4cd;
      }

*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

.content {
    max-width: 500px;
    margin: auto;
}

body{
    background-color: lightblue;
    margin: 20px;
    width: auto;
    }
.my-cv{
    background: var(--blue);
    width: 700px;
    margin: 50px auto;
    padding: 25px;
}

img {
    border-radius: 50%;
    width: 200px;
    height:200px;
  }

.profile {

    width: 100%;
    max-width: 400px;
    height: auto;
}

.top{
    background: va r(--blue); padding: 25x; border-radius: 15px;
    }

h1{
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
    letter-spacing: 2px;
    font-size: 41px;
}
.p1{
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
    margin-top:10px;
    letter-spacing: 5px;    
}
.top-left { width: 60%; float: right;}
.top-right { width: 40%; float: right; text-align: right;
}

.clearfix{clear: both;}

.fa{
    font-size: 15px!important;
    height: 25px!important;
    width: 25px!important;
    color: var(--white);
    text-align: center;
}

.p2{
    color: var(--black);
    text-align: center;
    margin-left: 80px;
}

.left{
    width:220px;
    background: var(--gray);
    float: left;
    border-radius: 15px;
    position: relative;
    padding: 20px;
}

.right{
	width: 400px; float: left;
    border-radius: 15px;
    position: relative;
    padding: 20px;
}

h2{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h4 {
    text-transform: uppercase;
    font-weight: 500px;
    letter-spacing: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.one{ margin-left: 20px; text-transform: uppercase; font-size: 14px; }
.batch{ width: 100px; margin-left: -37px; margin-top: 51px;}
.batch p{
    background: var(--b);
    color:  var(--white);
    padding: 5px;
    border-radius: 15px;
    transform: rotate();

}